[Unit]
Description=Atlas A
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiYWZjODAxMjlkZGU5MWIzZDQxNGY2Y2I1MDdhOGU1MjYiLCJ0IjoiY2U2YTViYjUtNTk3ZS00YTAxLWI5ZGItZDdmN2NhNjM0MzM2IiwicyI6Ik1EZ3pPVEZpTkRVdE1XWXdNUzAwTlRabUxUazFOREV0T1dZeFltVmxPR1F6WVRBMiJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
