[Unit]
Description=Atlas B
After=network.target

[Service]
TimeoutStartSec=0
Type=notify
ExecStart=/usr/local/bin/cloudflared tunnel run --token eyJhIjoiYWZjODAxMjlkZGU5MWIzZDQxNGY2Y2I1MDdhOGU1MjYiLCJ0IjoiNTAzNzBlNjEtZDY0MC00ODEzLWFhNDUtODYxMzc2YzFlNDQxIiwicyI6Ik1qTXhObUU0WVRVdE1tSTNPUzAwTjJNNUxUZzNZMkl0TkdJeU1qSmlabU16TWpZeSJ9
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
